*{
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app_header{
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgaray;
  display: flex;
  justify-content: space-between;
}

.app_headerImage{
  object-fit: contain;
}

.app_signup{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app_signIn{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app_posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postsRight{
  margin-left: 20px;
}