.post {
    background-color: #fff;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
  }
  
  .post_image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  .post_text {
    font-weight: normal;
    padding: 20px;
  }
  
  .post_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .post_headerUser {
    display: flex;
    align-items: center;
  }
  
  .post_avatar {
    margin-right: 10px;
  }
  
  .post_commentBox {
    display: flex;
    margin-top: 10px;
  }
  .post_comments {
    padding: 20px;
  }
  .post_input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
  }
  .post_button {
    flex: 0;
    border: none;
    color: #6082a3;
    background-color: transparent;
    border-top: 1px solid lightgray;
  }
  
  .post_comment {
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    margin-bottom: 3px;
  }
  .post_deleteComment {
    font-size: 12px;
    padding: 0px;
    border: none;
    outline: none;
    border-radius: 1px;
    cursor: pointer;
    margin-right: 5px;
    color: lightgray;
    background-color: #fff;
  }
  
  .post_deletePost {
    font-size: 20px;
    padding: 15px 20px;
    cursor: pointer;
    color: lightgray;
    background-color: #fff;
    border: none;
    outline: none;
  }
  .post_deletePost:hover {
    background-color: rgb(238, 238, 238);
    transition: background-color 0.25s linear;
  }